# sbt
# (may want to keep parts of 'project')
bin/
target/
build/

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
src/main/resources/avrohugger-tools_2.12-1.0.0-RC15-assembly.jar